*,
*:before,
*:after {
  line-height: 1.3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  font-family: "Lato";
  background-image: url("../img/story__background.webp");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*        Start Typography        */

h1 {
  font-size: 5rem;
  font-weight: 900;
  max-width: 9ch;
}

h2 {
  font-size: 5rem;
  margin-top: 2rem;
}

h3 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 4rem;
}

p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

li {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 500;
  list-style: none;
}

.green {
  color: #40bcb2;
}

.green-thick {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  max-width: 33ch;
}

.green-gradient {
  background: -webkit-linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 900;
  font-size: 4rem;
}

.black {
  color: $black;
}

.red {
  color: $color-red;
}

.text {
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}

@include breakpoint-up(normal) {
  .text {
    text-align: left;
  }
}

.text-thick {
  font-size: 2.3rem;
  font-weight: 400;
  margin-top: 4rem;
  text-align: center;
}

.text-aqua {
  color: aquamarine;
}

.text-white {
  color: white;
}

.text-cent {
  text-align: center;
}

@include breakpoint-up(large) {
  h1 {
    font-size: 5.7rem;
  }

  h2 {
    font-size: 5.5rem;
  }

  .text-thick {
    font-size: 2.5rem;
  }
}

@include breakpoint-up(xlarge) {
  .green-thick {
    font-size: 3rem;
  }
}

/*        END Typography        */

/*        START BLOCK       */

/* START Containers  */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 5rem;
}

.hero .container {
  height: 100vh;
}

.pad-vert {
  padding: 0 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

@include breakpoint-up(normal) {
  .who__buttons.flex-center {
    flex-direction: row;
    gap: 40px;
  }
}

@include breakpoint-up(large) {
  .container {
    padding: 5rem 0;
  }
}

@include breakpoint-down(normal) {
  .hero .container {
    min-height: 80vh;
  }
}

@include breakpoint-down(medium) {
  .contact__main.flex-row {
    flex-direction: column;
  }
}

.wh-100 {
  max-width: 100vw;
}

/*  END CONTAINERS **/

/*        END BLOCK     */

/*    START VISIBILITY    */

@include breakpoint-down(normal) {
  .hidden {
    display: none;
  }

  .unvisible {
    opacity: 0;
    max-height: 0;
    transition: all 0.7s;
  }

  .unvisible-x {
    opacity: 0;
    transition: all 0.7s;
  }
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  width: 100%;
}

.grid {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

@include breakpoint-up(normal) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--4x2 {
  grid-template-columns: repeat(auto-fit, minmax(134px, 25vw));
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  grid-row-gap: 10px;
}

@include breakpoint-down(medium) {
  .what .grid--5x2 {
    gap: 7px;
  }
}

@include breakpoint-up(large) {
  .grid--4x2 {
    grid-template-columns: repeat(4, minmax(150px, 200px));
    grid-template-rows: repeat(2, 1fr);
  }
}

.grid--5x2 {
  grid-template-columns: repeat(5, 90px);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 3rem;
}

@include breakpoint-up(normal) {
  .grid--5x2 {
    grid-template-columns: repeat(5, minmax(134px, 16vw));
    grid-template-rows: repeat(2, minmax(134px, 1fr));
    gap: 30px;
  }
}

.m-top {
  margin-top: 2rem;
}

.m-top-big {
  margin-top: 6rem;
}

.who {
  width: 100%;
  background-image: url("../img/who_background.webp");
  min-width: 100vw;
  position: relative;
  min-height: 90vh;
}

.ul__list li {
  line-height: 1.5;
}

/*    END VISIBILITY    */

/*    START OWL-CAROUSEL    */

.owl-item {
  height: 0;
}

.owl-item.active {
  height: auto;
}

.owl-prev {
  width: 3.25rem;
  height: 3.25rem;
  background-image: url("../img/arrow_left.png");
  color: red;
  position: absolute;
  top: 50%;
  left: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;

  @include breakpoint-up(xlarge) {
    width: 5.75rem;
    height: 5.75rem;
    left: 10px;
  }
}

.owl-next {
  width: 3.25rem;
  height: 3.25rem;
  background-image: url("../img/arrow_right.png");
  position: absolute;
  top: 50%;
  right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
  transition: all 0.3s ease-in-out;

  @include breakpoint-up(xlarge) {
    width: 5.75rem;
    height: 5.75rem;
    right: 10px;
  }
}

.owl-next:hover,
.owl-prev:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/*    END OWL-CAROUSEL    */

::-moz-selection {
  background: #1c1752;
  text-shadow: none;
}

::selection {
  background: #1c1752;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #fff;
  color: #000;
  padding: 0.2em 0;
}

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #00f;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

button {
  display: flex;
  font-size: 3rem;
  padding: 1rem 6rem;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 3rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;

  background: linear-gradient(to top right, $color-accent, $color-secondary);
}

button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
