.hero {
  background-image: url("../img/story__background.webp");
  max-height: 100%;
}

.hero__nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 9vw;
}

.hero__img {
  height: 56px;
  width: 152px;
}

.list__item:hover,
.hero__img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: #5fc0ea;
  font-weight: 800;
}

.hero__hamburger {
  display: block;
  order: -1;
  cursor: pointer;
}

.hero__hamburger-line {
  display: block;
  width: 40px;
  height: 4px;
  background-color: $color-secondary;
  margin-bottom: 5px;
}

@include breakpoint-down(normal) {
  .hero__hamburger-container {
    background: rgba(20, 29, 88, 0.8);
    box-shadow: 0 0 6rem #58bae4;
    display: block;
    margin: 0 auto;
    margin-top: 8rem;
    width: 80vw;
  }

  .hero__nav {
    flex-direction: column;
    align-items: center;
  }

  a > .list__item {
    font-size: 3rem;
    line-height: 2;
    text-shadow: 0 0 4px #39a110;
  }
}

@include breakpoint-down(medium) {
  .hero__img {
    height: 47px;
    width: 130px;
  }

  .hero__nav {
    gap: 5vw;
    text-align: center;
    margin-bottom: 10rem;
  }

  .list__item {
    font-size: 1.7rem;
  }
}

@include breakpoint-down(large) {
  .hero__circle {
    height: 43rem;
    width: 44rem;
    top: 21rem;
    right: 7vw;
  }
}

@include breakpoint-up(normal) {
  .list {
    display: flex;
  }

  .list a {
    margin-right: 23px;
  }

  .list__item-secondary {
    color: $color-secondary;
  }

  .list__item::after {
    content: "|";
    margin-left: 11px;
  }

  .hero__hamburger {
    display: none;
  }

  .hero__circle {
    background: linear-gradient(
      to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    border-radius: 50%;
    display: flex;
    background-size: contain;
    background-position: bottom;
    padding-top: 3rem;
    position: absolute;
    background-repeat: no-repeat;
    height: 46rem;
    width: 47rem;
    top: 21rem;
    right: 14vw;
    justify-content: center;
  }
}
