/*  Start Slider-1  */

.who__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who__heading h2 {
  margin-top: 1rem;
}

.who__header {
  margin-top: 3rem;
}

.who__header-second li::before {
  content: "";
  background-image: url("../img/list__img-green.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  display: inline-block;
  transform: translateY(3px);
  height: 17px;
  width: 17px;
}

.who__list li:first-of-type {
  margin-top: 0;
}

.who__buttons {
  margin: 0 auto;
}

.who__buttons .btn {
  width: 240px;
}

@include breakpoint-up(normal) {
  .who__header .who__facts {
    margin-top: 0;
  }

  .who__header .who__we {
    font-size: 3.5rem;
    padding-right: 1.5rem;
    transform: translateY(50px);
  }

  .who__header-second h3 {
    text-align: left;
  }
}

@include breakpoint-up(xlarge) {
  .who__list .green-thick {
    font-size: 2.5rem;
  }
}

/*    End Slider-1    */

/*    Start Slider-2  */

// THERE ARE NO SPECIAL STYLE IN SLIDER-2

/*    End Slider-2    */

/*    Start Slider-3    */

.who__awards {
  margin-top: 4rem;
  width: 70vw;
}

.award {
  transition: all 0.6s ease-in-out;
}

.award:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px rgb(26, 45, 219)) invert(5%);
  margin: 1rem;
}

@include breakpoint-up(large) {
  .who__awards {
    margin: 8rem 0;
    width: 80vw;
  }
}
/*    End Slider-3    */
