<section class="contact contact-3">
  <div class="container">
    <div class="text-cent black">
      <h2 class="green-gradient">Kariera</h2>
      <p class="green green-thick m-top contact__staz">Program stażowy</p>
      <p>
        Nasz program skierowany jest do studentów i absolwentów uczelni wyższych
        chcących zdobyć swoje pierwsze doświadczenie zawodowe w obszarze
        kompleksowego zarządzania komunikacją.
      </p>
    </div>
    <div class="text-cent black">
      <h2 class="green-gradient">Jak to działa?</h2>
      <p>
        Trafisz pod opiekę doświadczonego mentora, który chętnie podzieli się z
        Toba swoją wiedzą i doświadczeniem. Poznasz zasady funkcjonowania dużej
        korporacji, jak również będziesz uczestniczyć przy realizacji projektów
        dla czołowych światowych marek.
      </p>
      <p>
        Praktyki odbywają się w okresie wakacyjnym, między czerwcem a
        październikiem każdego roku. Minimalny okres trwania praktyki to
        miesiąc, maksymalny to trzy miesiące.
      </p>
    </div>
    <p class="text-cent black">
      Chcemy Cię uczyć i otworzyć Ci drzwi do zawodowej kariery.
    </p>
  </div>
</section>
