<section class="who">
  <div class="container flex-center">
    <div class="who__heading">
      <p class="green green-thick">O NAS</p>
      <h2>Nasze nagrody</h2>
    </div>
    <div class="who__awards grid grid--4x2">
      <img src="img/who__img-1.webp" alt="" class="award" />
      <img src="img/who__img-2.webp" alt="" class="award" />
      <img src="img/who__img-3.webp" alt="" class="award" />
      <img src="img/who__img-4.webp" alt="" class="award" />
      <img src="img/who__img-5.webp" alt="" class="award" />
      <img src="img/who__img-6.webp" alt="" class="award" />
      <img src="img/who__img-7.webp" alt="" class="award" />
      <img src="img/who__img-8.webp" alt="" class="award" />
    </div>
  </div>
</section>
