<section class="what background">
  <div class="container">
    <div class="who__heading container">
      <p class="green green-thick">Co robimy</p>
      <h2>Nasze podejście</h2>
    </div>
    <div class="grid grid--1x2">
      <p class="text">
        Konsumenci zmieniają swoje nastawienie wobec marek.Dobierają marki, jak
        przyjacioł i te muszą do nich pasować. Oczekują od firm nowych wartości,
        które leżą coraz dalej od obszaru podstawowej działalności biznesowej.
        Dlatego marki coraz chętniej angażują się w tematy, które mają realne
        przełożenie na zmianęi poprawę codziennego życia konsumentów.
      </p>
      <div>
        <p class="text">
          Pomagamy firmom, markom i organizacjom przejść od kampanii do
          narracji, od narzucania się do angażowania, od konsumentów do
          społeczności.
        </p>
        <p class="text">
          Ponieważ nie ma jednej metody tworzenia firmowych opowieści, sięgamy
          po różne narzędzia oraz kanały komunikacji i nadajemy im ich własny,
          niepowtarzalny charakter.
        </p>
      </div>
    </div>
    <div class="what__tags grid grid--5x2">
      <img src="img/what__img-1.webp" alt="" class="what__img" />
      <img src="img/what__img-2.webp" alt="" class="what__img" />
      <img src="img/what__img-3.webp" alt="" class="what__img" />
      <img src="img/what__img-4.webp" alt="" class="what__img" />
      <img src="img/what__img-5.webp" alt="" class="what__img" />
      <img src="img/what__img-6.webp" alt="" class="what__img" />
      <img src="img/what__img-7.webp" alt="" class="what__img" />
      <img src="img/what__img-8.webp" alt="" class="what__img" />
      <img src="img/what__img-9.webp" alt="" class="what__img" />
      <img src="img/what__img-10.webp" alt="" class="what__img" />
    </div>
    <div class="what__footers">
      <p class="what__footer-item text">E-commerce</p>
      <p class="what__footer-item text">Energetyka</p>
      <p class="what__footer-item text">Finanse</p>
      <p class="what__footer-item text">FMCG</p>
      <p class="what__footer-item text">Kultura i sztuka</p>
      <p class="what__footer-item text">Media i sztuka</p>
      <p class="what__footer-item text">Motoryzacja</p>
      <p class="what__footer-item text">NGO</p>
      <p class="what__footer-item text">Nowe technologie</p>
      <p class="what__footer-item text">Odzież</p>
      <p class="what__footer-item text">Opieka zdrowotna</p>
      <p class="what__footer-item text">Farmaceutyka</p>
      <p class="what__footer-item text">
        Organizacja rządowe / Administracja publiczna
      </p>
      <p class="what__footer-item text">Przemysł</p>
      <p class="what__footer-item text">Retal</p>
      <p class="what__footer-item text">Rynek nieruchomości i budownictwo</p>
      <p class="what__footer-item text">Telekomunikacja</p>
      <p class="what__footer-item text">Transport i logistyka</p>
      <p class="what__footer-item text">Turystyka</p>
      <p class="what__footer-item text">Usługi profesjonalne</p>
    </div>
  </div>
</section>
