<section class="who">
  <div class="container flex-center">
    <div class="who__heading">
      <p class="green green-thick">O NAS</p>
      <h2>Nasze nagrody</h2>
    </div>
    <div class="who__awards grid grid--4x2">
      <img src="img/who__img-1.png" alt="" class="award" />
      <img src="img/who__img-2.png" alt="" class="award" />
      <img src="img/who__img-3.png" alt="" class="award" />
      <img src="img/who__img-4.png" alt="" class="award" />
      <img src="img/who__img-5.png" alt="" class="award" />
      <img src="img/who__img-6.png" alt="" class="award" />
      <img src="img/who__img-7.png" alt="" class="award" />
      <img src="img/who__img-8.png" alt="" class="award" />
    </div>
  </div>
</section>
