<section class="hero background">
  <div class="hero__hamburger-container">
    <nav class="hero__nav container">
      <a href="#">
        <img
          class="hero__img hidden"
          src="img/hero_logo.webp"
          alt="Logo of MSL-Group Company"
      /></a>

      <ul class="list" id="hero-list">
        <a href="#"><li class="list__item">Kim jesteśmy</li></a>
        <a href="#" class="list__link"><li class="list__item">Co robimy</li></a>
        <a href="#" class="list__link"
          ><li class="list__item">Kim robimy</li></a
        >
        <a href="#" class="list__link"><li class="list__item">Kontakt</li></a>
        <a href="#" class="list__link"
          ><li class="list__item list__item-secondary">O nas</li></a
        >
      </ul>
      <a class="hero__hamburger" id="hero-hamburger"
        ><span class="hero__hamburger-line"></span
        ><span class="hero__hamburger-line"></span
        ><span class="hero__hamburger-line"></span
      ></a>
    </nav>
  </div>
  <div class="hero__circle hidden">
    <h1><span class="green">Historie marek</span> powstają tu i teraz</h1>
  </div>
</section>
