<section class="contact">
  <div class="container">
    <div class="contact__carrier who__heading container">
      <p class="green green-thick green-gradient">Kariera</p>
      <h2 class="contact__work">MSLGROUP jako pracodawca</h2>
      <p class="text-thick black m-top-big">
        Historię MSGLGROUP tworzą ludzie, ich praca i doświadczenie. Bez nich
        nie byłoby firmowych opowieści, narracji, historii i storytellingu,
        które powstały w naszej firmie.
      </p>
      <p class="text text-cent black">
        Od pracowników wymagamy dużo, zarówno doświadczenia, kreatywności jak i
        zaangażowania. Równie dużo dajemy. Przede wszystkim ogromne możliwości
        rozwoju. Na przestrzeni ponad 20 lat obecności na rynku zgromadziliśmy
        pokaźną wiedzę na temat tego, jak budować firmowe historie, a jako część
        Grupy Publicis mamy dostęp do światowego know - how.
      </p>
      <p class="text text-cent black">
        Jeśli chcesz budować swoją własną historię jako eksperta w zakresie
        komunikacji marek i firm. MSLGROUP to najlepszy przystanek w karierze.
        Dołącz do nas, zbuduj z nami Twoją własną historię.
      </p>
    </div>
    <div class="contact__benefit grid grid--1x2">
      <div>
        <h3>Korzyści z pracy w MSLGROUP</h3>
        <ul class="black ul__list">
          <li class="text m-top">
            Średnia długość doświadczenia zawodowego naszych pracowników to 7
            lat. Jest się od kogo uczyć.
          </li>
          <li class="text">
            Ponad 100 biur MSLGROUP zlokalizowanych jest w 26 krajach na
            świecie. Mamy gdzie latać na spotkania.
          </li>
          <li class="text">
            W części konsumenckiej naszego biura preferujemy trampki, w części
            finansowej oxfordy. Dopasuj się.
          </li>
          <li class="text">
            Zawody łucznicze, turniej paddle, comiesięczne wyjście na piwo.
            Stawiamy na integrację.
          </li>
          <li class="text">
            Opieka medyczna, pakiet sportowy, nauka języków obcych. My też to
            oferujemy.
          </li>
        </ul>
      </div>
      <div class="contact__practice">
        <h3>Aktualnie szukamy storytellersów na następujące stanowiska:</h3>
        <p class="black text m-top-big">
          Senior/Account Executive w dziale Retail
        </p>
        <p class="black text">
          Praktykant/Praktykantka w dziale Technologicznym.
        </p>
        <p class="black text">
          Senior Associate/Associate (public affairs/government relations)
        </p>
        <p class="black text">
          Senior Associate (e-commerce, energetyka,finanse)
        </p>
        <button class="m-top-big">Program stażowy</button>
      </div>
    </div>
  </div>
</section>
