<section class="who background">
    <div class="who__heading container">
      <p class="green green-thick">O NAS</p>
      <h2>Kim jesteśmy</h2>
    </div>      
    <div class="who__header container grid grid--1x2">
      <div class="who__header-first">
        <p class="text">
          Żyjemy w świecie realnie tworzących się społeczności, w którym
          ludzie z chęcia angażują się w relacje z firmami, markami i
          organizacjami. Nawiązują z nimi znajomości, prowadzą rozmowy i
          dzielą się informacjami - ale tylko z tymi podmiotami, które w
          zamian za ich czas i atencję zaoferują im konkretną, oczekiwaną
          wartość</p>
        <p class="text">
          Nasza praca to tworzenie i dostarczanie klientom strategii
          komunikacji, treści oraz działań które sprawią, że ich głos będzie
          słysza</p>
        </p>
        <h3 class="green green-thick who__we">
          Jesteśmy MSLGROUP. Sprawiamy, że głos naszych klientów ma znaczenie.
        </h3>
      </div>
      <div class="who__header-second">
        <h3 class="who__facts">KILKA FAKTÓW</h3>
        <ul class="who__list">
          <li >
            Historie marek i firm tworzy blisko
            <span class="green green-thick">100 konsultantów</span> z
            wieloletnim doświadczeniem po stronie klienta.
          </li>
          <li>
            Tworząc firmowe narracje korzystamy z bogatego doświadczenia Grupy
            Publicis,
            <span class="green green-thick"
              >trzeciej największej grupy komunikacyjnej na świecie</span
            >, do której należymy od 2011 roku.
          </li>
          <li>
            Pierwsze storrytellingowe kampanie przeprowadzaliśmy już w 2010
            roku.
          </li>
          <li>
            Słuchamy społeczności zarówno w Polsce, jak i Eurpie Środkowej.
            <span class="green green-thick">Jesteśmy hubem</span> MSLGROUP na
            Europę Środkowo - Wschodnią.
          </li>
          <li>
            Nasza kreatywność doceniają nie tylko klienci, ale także branża.
            Na swoim koncie mamy ponad
            <span class="green green-thick">20 najcenniejszych nagród</span>,
            a nasi pracownicy są jurorami na największych konkursach, m.in.
            Cannes Lion, Golden Drum, Cristal Festival i Złote Spinacze.
          </li>
        </ul>
      </div>
    </div>
    <div class="who__buttons flex-center">
      <button class="btn">Historia</button
      ><button class="btn">Nagrody</button>
    </div>
  </section>