<section class="who background">
  <div class="container">
    <div class="who__heading">
      <p class="green green-thick who-facts">O NAS</p>
      <h2>Historia</h2>
    </div>
    <div>
      <p class="text text-thick">
        Nasza historia zaczęła się w 1994 roku, kiedy Jerzy Ciszewski,
        dziennikarz sportowy założyl pierwszą w Polsce agencję public relations.
        Pierwszym dużym przedsięwzięciem agencji Ciszewski PR była kompleksowa
        obsługa PR rajdu Camel Trophy w Polsce.
      </p>
    </div>
    <div class="grid grid--1x2 who__header">
      <div>
        <p class="text">
          Lata 2006-2010 były dla nas okresem dynamicznego rozwoju i
          specjalizacji w komunikacji konsumenckiej, korporacyjnej, finansowej,
          sportowej, farmaceutycznej i digitalowej.
        </p>
        <p class="text">
          Za kampanie '24 Polskim Czerwca Dniem Przytulania', 'Zaufaj wodzie z
          kranu' oraz 'Hoop Colędowanie' otrzymaliśmy najcenniejsze branżowe
          nagrody. Zrealizowaliśmy także własne projekty i kampanie społeczne
          m.in. 'Wyślij CV. Ktoś czeka'.
        </p>
      </div>
      <div>
        <p class="text">
          W 2011 roku część udziałów Ciszewski PR kupiła MSLGROUP, agencja
          należąca do francuskiej Grupy Publicis. Zyskaliśmy tym samym dostęp do
          najlepszego światowego know - how w zakresie komunikacji marek i firm
          oraz angażowania społeczności.
        </p>
        <p class="text">
          W 2014 MSLGROUP przejęła resztę udziałów Ciszewski PR i powierzyła
          kierowanie agencją Sebastianowi Hejnowskiemu.
        </p>
      </div>
    </div>
  </div>
</section>
