<section class="what background what__metods">
  <div class="container">
    <h2 class="what__metods-header">
      Nie ma jednej metody, używamy narzędzi pasujących do opowieści
    </h2>
    <p class="text">
      Opowieść decyduje o tym jak ma być opowiadana, PR, digital, BTL,ATL, event
      to tylko sposoby narracji.
    </p>
    <p class="text">
      Jesteśmy biegli w tych narzędziach ale naszym głównym zadaniem jest
      stworzenie osobowości marki. Budowaliśmy wizerunek dla firm
      farmaceutycznych, alkoholowych, producentów spożywczych oraz sieci
      sprzedażowych. Historia każdej z nich jest inna, każda ma inny charakter,
      innych odbiorców inne sposoby opowiadania.
    </p>
    <p class="text">Efekt jest jeden. Wszystki zyskały lojalnych klientów.</p>
    <button class="btn">NASZE SUKCESY</button>
  </div>
</section>
